.info-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-variant-caps: petite-caps;
}

.info-card-content {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}