.home {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #000;
}

.data-container {
  display: flex;
  width: 60%;
  padding: 0 2rem;
  height: 100%;
  flex-direction: column;
  justify-content: flex-start;
  color: #000;
}

.infos-data {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 1rem;

  .sunrise-sunset-text {
    display: flex;
    flex-direction: column;
    padding: 0 0 1rem 0;
  }

  .min-max-text {
    display: flex;
    flex-direction: column;
  }

  .button-group {
    display: flex;
    flex-direction: column;

    &>button {
      margin-bottom: 1rem;
    }
  }
}

.image-container {
  width: 100%;
  display: inline-block;
  position: relative;

  .image-container-text {
    font-size: 1.5rem;
    color: #FFF;
    position: absolute;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .location-text {
    top: 15px;
  }

  .temperature-text {
    bottom: 15px;
  }

  img {
    width: 100%;
    height: 100%;
  }
}

// .cards-container {
//   display: flex;
//   flex-direction: row;
//   width: 100%;
//   flex-wrap: wrap;

//   .columns {
//     display: flex;
//     flex-direction: row;
//     flex-wrap: nowrap;
//     width: 100%;

//     .column {
//       display: flex;
//       justify-content: space-between;
//       width: 100%;
//     }

//     &>.column {
//       padding: 0.5rem 0rem;
//     }

//   }
// }

.cards-container {
  display: flex;
  column-gap: .3rem;
}

.d-flex-horizontally-centered {
  justify-content: center;
}
